.contactBar{
    display: flex;
    justify-content: flex-end;
    background-color: #404040;
    width: 100%;
    height:40px;
    align-items: center;
}

.contact{
    margin: 0px 25px;
    color: #ccc;
    font-size: 15px;
    font-family: "Lucida Console";
    pointer-events: none;
}

@media (max-width: 550px){
    .hide{
        display: none;
    }

    .contactBar{
        height: 50px;
    }

    .contact{
        margin: 0px 3px;
        font-size: 35px;
        pointer-events: all;
    }

    .contact:hover{
        cursor:pointer;
        color: salmon;
    }
}