@import url(https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap);

.Logo {
  display: flex;
  flex-flow: column;
  width: fit-content;
  height: 52px;
}

.LogoText {
  font-family: "Great Vibes";
  font-size: 52px
}

 .Sub {
  text-align: center;
  font-size: 14px;
}